.reset-pass {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-pass .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #81CCAB;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reset-pass .reset-pass-block {
    width: 450px;
    height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('./../../assets/images/welcome-bg2.png');
    background-repeat: repeat;
    background-size: cover;
    background-color: #d1d1d44a;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.reset-pass .forget-password {
    width: 320px;
    height: 60px;
    left: 55px;
    top: 326px;
    font-style: normal;
    font-weight: 600;
    font-size: 40.3288px;
            text-align: center;
    line-height: 60px;
    color: #FFFFFF;
}
.reset-pass .forget-password-msg{
    color: #FFFFFF;
            font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.11999999731779099px;
        text-align: center;
}

.reset-pass .reset-pass__field {
    position: relative;
    margin: 10px;
}

.reset-pass .reset-pass__field p {
    text-align: right;
    color: #F9F4ED;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin: 10px 20px 0 0;
}

.reset-pass .links {
    text-decoration: none;
}

.reset-pass .reset-pass__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-right: 30px;
}

.reset-pass .pass__icon {
    position: absolute;
    top: 10px;
    right: 20px;
}

.reset-pass .reset-pass__input {
    width: 288px;
    border: none;
    border: 2px solid #D1D1D4;
    background: linear-gradient(0deg, rgba(129, 204, 171, 0.1), rgba(129, 204, 171, 0.1)), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 77.08%, rgba(255, 255, 255, 0.8) 100%);
    padding: 10px;
    padding-left: 30px;
    font-weight: 700;
    transition: .2s;
    border-radius: 8px;
}

.reset-pass .reset-pass__input:active,
.reset-pass .reset-pass__input:focus,
.reset-pass .reset-pass__input:hover {
    outline: none;
    border-color: #5b927a;
}

.reset-pass .reset-pass__submit {
    width: 317px;
    height: 50px;
    background: #F9F4ED;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    color: #10403B;
    outline: none;
    border: none;
}
.reset-pass .cancel__submit {
    width: 317px;
    height: 50px;
    background: transparent;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    color: #10403B;
    outline: none;
    border: 2.5px solid #FFFFFF;;
}

.reset-pass .button__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    width: 100%;
    text-align: center;
}


.reset-pass .submit__feild {
    position: relative;
}
.reset-pass .reset-pass-err {
    position: absolute;
    top: 55px;
    left: 5px;
    font-size: 16px;
    color: rgb(178, 0, 0);
    width: 100%;
    text-align: center;
}


