/*******Set Style TO First-Use********/
.first-use {
    font-family: 'Poppins', sans-serif;
    background-color: #81CCAB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*****End Style First-Use******/

/********Set Style TO First-Use Container*****/
.first-use .container {
    width: 80%;
    height: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./../../assets/images/welcome-bg2.png');
    background-repeat: repeat;
    background-size: cover;
        background-color: #d1d1d44a;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*******End Style First-Use Container********/

/*******Set Style TO First-Use  Container Left-Side********/
.first-use .container .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

/******** End first-Use Container Left-Side******/

/******Set Style TO First-Use container Right-Side*******/
.first-use .container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******End Style First-Use Container Right-Side*******/

/*******Set Style TO First-Use pargraph********/
.first-use p {
    width: 80%;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.085em;
    text-align: center;
}

/*********End Style First-Use Paragraph********/

/*******Set Style TO First-Use img **********/
.first-use img {
    width: 350px;
    height: 350px;
}

/*******End  Style First-Use img********/

/*******Set Style TO First-Use Addbaby********/
.first-use .addbaby {
    margin-top: 30px;
    width: 348px;
    height: 56px;
    border: none;
    background-color: #F9F4ED;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #10403B;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 950px){
.first-use .container{
    flex-direction: column;
}
.first-use img {
    width: 80%;
    height: 80%;
}
.first-use .addbaby{
    width: 80%;
    margin: 10px;
}
}

/******End Style  First-Use Addbaby********/