.log-in {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #81CCAB;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.log-in .login-block {
    width: 450px;
    height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('./../../assets/images/welcome-bg2.png');
    background-repeat: repeat;
    background-size: cover;
        background-color: #d1d1d44a;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.log-in .Welcome-back {
    width: 320px;
    height: 60px;
    left: 55px;
    top: 326px;
    font-style: normal;
    font-weight: 600;
    font-size: 40.3288px;
    line-height: 60px;
    color: #FFFFFF;
}

.log-in .login__field {
    position: relative;
    margin: 10px;
}

.log-in .login__field p {
    text-align: right;
    color: #F9F4ED;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin: 10px 20px 0 0;
}

.log-in .links {
    text-decoration: none;
}

.log-in .login__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-right: 30px;
}

.log-in .pass__icon {
    position: absolute;
    top: 10px;
    right: 20px;
}

.log-in .login__input {
    width: 288px;
    border: none;
    border: 2px solid #D1D1D4;

    padding: 10px;
    padding-left: 30px;
    font-weight: 700;
    transition: .2s;
    border-radius: 8px;
}

.log-in .login__input:active,
.log-in .login__input:focus,
.log-in .login__input:hover {
    outline: none;
    border-color: #5b927a;
}

.log-in .login__submit {
    width: 317px;
    height: 50px;
    background: #F9F4ED;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    color: #10403B;
    outline: none;
    border: none;
}

.log-in .button__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    width: 100%;
    text-align: center;
}

.log-in .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.log-in .reversed {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.log-in .showw {
    border-right: 90px solid #F9F4ED;
    border-top: 1.7px solid transparent;
    border-bottom: 1.7px solid transparent;
    border-left: 10px solid transparent;
    margin: 0 7px;
}

.log-in .continue-with {
    display: flex;
    align-items: center;
    padding: 10px;
}

.log-in .cont-with {
    color: #F9F4ED;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: default;
}

.log-in .login-register {
    color: #F9F4ED;
    cursor: default;
    margin-top: 15px;
}

.log-in .login-register .register-link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.log-in .fa-brands {
    margin-right: 10px;
}

.log-in .submit__feild {
    position: relative;
}

.log-in .baby-name-err {
    position: absolute;
    top: 50px;
    left: 5px;
    font-size: 16px;
    color: rgb(178, 0, 0);
    width: 100%;
    text-align: center;
}
    /* Media queries for smaller screens */
    @media(max-width: 768px) {
        .log-in .container {

            top: 0;
            left: 0;
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            gap: 20px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .log-in .login-block {
            width: 100%;
            height: auto;
            padding: 30px;
            background-size: cover;
        }

        .log-in .Welcome-back {
            width: 100%;
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 20px;
            text-align: center;
        }

        .log-in .login__field {
            margin: 10px 0;
            width: 35%;
        }

        .log-in .login__field p {
            text-align: left;
            margin: 0;
        }

        .log-in .login__icon {
            top: 15px;
            margin-right: 10px;
        }

        .log-in .pass__icon {
            top: 15px;
            right: -20px;
        }

        .log-in .login__input {
            width: 100%;
        }
.log-in .submit__feild{
    width: 100%;
}
        .log-in .login__submit {
            width: 45%;
            margin: 10px auto;
        }

        .log-in .button__text {
            font-size: 16px;
            line-height: 24px;
        }

        .log-in .button__icon {
            font-size: 20px;
        }
    }